@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Roboto", serif;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 0px;
}

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-toast-title {
  font-weight: bold !important;
}
